.logo {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.logo img {
    width: 50%;
    height: 50%;
}

form {
    width: 80%;
    margin: auto;
}

h3,
p {
    text-align: center;
    margin: 4%;
}

ion-button {
    width: 100%;
}