ion-item {
    padding-left: 15px;
}

ion-avatar {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: #ddd solid 2px;
}

ion-label {
    padding-left: 5%;
}

ion-icon {
    padding-right: 5%;
}

ion-button {
    width: 91%;
    margin: 5%;
}