.logo {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}

.logo img {
    width: 50%;
    height: 50%;
}

.logo2 {
    display: none;
}

form {
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}

.forget {
    color: blue;
    font-size: 80%;
    display: block;
    text-align: right;
}

ion-button {
    width: 100%;
}

.icons {
    margin: auto;
    text-align: center;
}

.icons img {
    width: 15%;
    height: 15%;
    margin: 5%;
    cursor: pointer;
}

.register {
    color: blue;
    font-size: 140%;
    margin-left: 70%;
    margin-bottom: 8%;
}

@media screen and (min-width:750px) {
    .logo img {
        display: none;
    }
    .icons img {
        width: 10%;
        height: 10%;
        margin: 5%;
        cursor: pointer;
    }
    .login {
        color: blue;
        font-size: 140%;
        margin-left: 80%;
        margin-bottom: 8%;
    }
}

@media screen and (min-width:1000px) {
    .logo img {
        display: none;
    }
    .logo2 img {
        height: 40px;
    }
    .logo2,
    ion-title {
        display: inline-block;
        text-align: center;
    }
    .icons img {
        width: 8%;
        height: 8%;
        margin: 5% 5% 0px 5%;
        cursor: pointer;
    }
    .register {
        color: blue;
        font-size: 140%;
        margin-left: 72%;
    }
    form {
        width: 60%;
        margin: auto;
        margin-top: -3%;
    }
}