<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-searchbar placeholder="Search for a product..." [(ngModel)]="searchInput" (search)="search($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Category</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="flex w-full flex-col overflow-auto">
        <div class="flex w-full flex-row flex-wrap justify-around mt-2">
            <ion-card class="w-2/5" *ngFor="let category of categories" [routerLink]="['/tab2',category.name]">
                <ion-card-header>
                    <img src="{{category.image}}" />
                </ion-card-header>

                <ion-card-content>
                    <ion-card-title class="text-2xl">
                        {{category.name}}
                    </ion-card-title>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>