<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{viewTitle}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
    </calendar>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!auth.isLoggedIn()" (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>